@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "bootstrap.less";


body {
  padding-top: @navbar-height;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: @navbar-height;
}